# Node modules (paquetes instalados)
node_modules/

# Logs
*.log

# Archivos de entorno, con variables sensibles
.env

# Carpeta donde guardás datos temporales o bases de datos locales
src/db/

# Archivos de sistema (Windows, macOS)
.DS_Store
Thumbs.db

# Carpetas de herramientas
.vscode/
.idea/
